[Desktop Entry]
Type=Application
Name=LMS Rizky Production
Comment=Auto-start LMS (API + Frontend) on boot
Exec=gnome-terminal -- bash -c 'cd /home/server/Desktop/lms-rizky-main && npm start; exec bash'
Icon=utilities-terminal
Terminal=false
Path=/home/server/Desktop/lms-rizky-main
Categories=Development;
X-GNOME-Autostart-enabled=true
