[Desktop Entry]
Type=Application
Name=Start Frontend
Comment=Jalankan Frontend LMS
Exec=gnome-terminal -- bash -c 'cd /home/server/Desktop/lms-rizky-main && ./start_frontend.sh; exec bash'
Icon=utilities-terminal
Terminal=false
Path=/home/server/Desktop/lms-rizky-main
Categories=Development;
